.projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  h3{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-card {
    background-color: #f9f9f940;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    width: 300px;
    transition: transform 0.2s;
  }
  
  .project-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .project-info {
    padding: 10px;
  }
  
  .project-info h3 {
    margin: 0 0 10px 0;
  }
  
  .project-info p {
    margin: 0;
  }
  